body{
    overflow-x: hidden;
}

@media only screen and (min-width:716px){
     
    .v-img{
        height:240px;
       
    }

}



.icons1{
    background: none;
}

.icons1:hover{
    background: rgba(195, 194, 194,.2);
}

::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(215, 211, 211);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(121, 123, 123);
    border-radius: 20px;
    
}

